<div>
  <nav class="navbar navbar-expand-md justify-content-center navbar-light bg-light header">
    <div class="header__navbar__left">
      <img class="image-logo" src="/assets/logo/logotransition_hor.png" alt="images" referrerpolicy="no-referrer" />
    </div>
    <div> 
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse d-flex pl__30 header__navbar" id="navbarNav">
      <ul class="navbar-nav header__tabs">
        <li class="nav-item active">
          <a class="nav-link header__tabs__tab font-24" href="#">Kiến thức</a>
        </li>
        <li class="nav-item">
          <a class="nav-link header__tabs__tab font-24" href="#">Kinh nghiệm</a>
        </li>
      </ul>
    </div>
    <form class="form-inline justify-content-end mr-10 header__form">
      <input class="form-control mr-sm-2 header__ipsearch" type="search" placeholder="Search" aria-label="Search" />
      <i class="fa fa-search header__iconsearch" type="submit"></i>
    </form>
    <div class="header__navbar__right">
      <i class="fa fa-pencil fa-2x m-3 header__iconedit" aria-hidden="true"></i>
      <i class="fa fa-bell fa-2x m-2 header__iconbell" aria-hidden="true"></i>
      <button type="button" class="btn btn-outline-primary ml-3 header__btnlogin">Đăng Nhập</button>
    </div>
  </nav>
</div>
<div class="header__menu navbar-light bg-light ">
  <ul class="nav nav-tabs header__menu__tabs">
    <li class="nav-item">
      <a class="nav-link header__menu__item active" aria-current="page" href="#">Trang chủ</a>
    </li>
    <li class="nav-item" data-hover="dropdown">
      <a class="nav-link header__menu__item" href="#">Mang thai</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">Trẻ sơ sinh</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">Mầm non</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">Tiểu học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">Trung học</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">Phổ Thông</a>
    </li>
    <li class="nav-item">
      <a class="nav-link header__menu__item" href="#">>18</a>
    </li>
  </ul>
</div>
